.wrapper
	position: relative

.label
	font-size: 14px
	line-height: normal
	color: #F2F4FE
	cursor: pointer

.value-wrapper
	display: inline-flex
	align-items: center
	gap: 8px

	.value
		font-weight: 700

	.icon
		transition: 300ms
		transform: rotate(180deg)

		&.active
			transform: rotate(0deg)

.dropdown
	position: absolute
	top: calc(100% + 16px)

	width: 255px
	border-radius: 10px
	background-color: #FFFFFF
	box-shadow: 0 10px 40px -7px rgba(55, 63, 104, 0.35)
	z-index: 1

	animation: open 300ms linear forwards

.option
	display: flex
	align-items: center
	justify-content: space-between

	padding: 12px 24px
	cursor: pointer

	font-size: 16px
	line-height: normal
	color: #647196

	& + &
		border-top: solid 1px rgba(58, 67, 116, .15)

	&:hover
		color: #AD1FEA

	svg-icon
		color: #AD1FEA

@keyframes open
	from
		transform: translateY(-40px)
	to
		transform: translateY(0)
