@import "variables"

.wrapper
	position: relative

.label
	font-size: 14px
	line-height: normal
	color: $on-brand-color-1

.value-wrapper
	display: inline-flex
	align-items: center
	gap: $grid-xs

	.value
		font-weight: 700

	.icon
		transition: 300ms
		transform: rotate(180deg)

		&.active
			transform: rotate(0deg)

.dropdown
	position: absolute
	top: calc(100% + $grid-md)

	width: 255px
	border-radius: $border-radius
	background-color: $surface-color
	box-shadow: $box-shadow-1

	z-index: 1

	animation: up-down 300ms linear forwards

.option
	display: flex
	align-items: center
	justify-content: space-between

	padding: $grid-sm $grid-xl
	cursor: pointer

	font-size: 16px
	line-height: normal
	color: $text-color-2

	& + &
		border-top: solid 1px $divider-color

	&:hover
		color: $brand-color-1

	svg-icon
		color: $brand-color-1
