<div (appClickOutside)="onClickOutside()" class="wrapper">
	<div (click)="onToggle()" (keydown.enter)="onToggle()" class="label" tabindex="0">
		@if (label) {
			<span>{{ label }} : </span>
		}
		<div class="value-wrapper">
			<span class="value">{{ selectedOptionText }}</span>
			<svg-icon [class]="isActive ? 'active' : ''" class="icon" key="chevron-up" size="xs"></svg-icon>
		</div>
	</div>

	@if (isActive) {
		<div class="dropdown">
			<div class="options">
				@for (option of options; track $index) {
					<div
						(click)="onSelectOption(option)"
						(keydown.enter)="onSelectOption(option)"
						class="option"
						tabindex="0"
					>
						{{ option.label }}
						@if (option.value === selectedOption.value) {
							<svg-icon key="check" size="sm"></svg-icon>
						}
					</div>
				}
			</div>
		</div>
	}
</div>
