@import "variables"

.page
	display: flex
	flex-direction: column

	width: 100dvw
	height: 100dvh

	background: $background-color

.header
	display: flex
	align-items: center
	justify-content: space-between
	padding: $grid-md $grid-xl

	color: $on-brand-color-1
	background: $radial-gradient-1

	.title
		display: block
		font-size: 15px
		font-weight: 700
		letter-spacing: -0.187px

	.small
		font-size: 13px
		font-weight: 500
		opacity: .75

.main
	position: relative
	flex: 1
	display: flex
	flex-direction: column
	overflow-y: hidden

.form-options
	display: flex
	align-items: center
	justify-content: space-between
	padding: $grid-md $grid-xl

	color: $on-brand-color-1
	background: $brand-color-3

.content
	flex: 1
	padding: $grid-xxl $grid-md
	overflow-y: auto

.cards
	display: flex
	flex-direction: column
	gap: $grid-md
