$radial-gradient-1: radial-gradient(166.82% 166.82% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%)

.page
	display: flex
	flex-direction: column

	width: 100dvw
	height: 100dvh

	background: #F7F8FD

.header
	display: flex
	align-items: center
	justify-content: space-between
	padding: 16px 24px

	color: #ffffff
	background: $radial-gradient-1

	.title
		display: block
		font-size: 15px
		font-weight: 700
		letter-spacing: -0.187px

	.small
		font-size: 13px
		font-weight: 500
		opacity: .75

.main
	position: relative
	flex: 1
	display: flex
	flex-direction: column
	overflow-y: scroll

.form-options
	display: flex
	align-items: center
	justify-content: space-between
	padding: 16px 24px

	color: #ffffff
	background: #373F68

.content
	flex: 1
	padding: 32px 16px
	overflow-y: auto

.cards
	display: flex
	flex-direction: column
	gap: 16px
