<div class="page">
	<div class="page-content">
		<header class="header-wrapper">
			<div class="header">
				<div>
					<strong class="title">Frontend Mentor</strong>
					<span class="small">Feedback Board</span>
				</div>

				<svg-icon
					(click)="onToggleDrawer()"
					[key]="isDrawerActive ? 'close' : 'menu'"
					class="mobile"
					size="lg"
				/>
			</div>

			<app-tag-list-card
				(changeTag)="onChangeSelectedTag($event)"
				[selectedTag]="selectedTag"
				[tags]="tags"
				class="not-mobile"
			/>

			<app-roadmap-card [statusList]="statusList" class="not-mobile" />
		</header>

		<main class="main">
			<app-drawer (closeDrawer)="onToggleDrawer()" [isActive]="isDrawerActive" class="mobile">
				<div class="drawer-wrapper">
					<app-tag-list-card
						(changeTag)="onChangeSelectedTag($event)"
						[selectedTag]="selectedTag"
						[tags]="tags"
					/>

					<app-roadmap-card [statusList]="statusList" />
				</div>
			</app-drawer>

			<div class="form-options">
				<div class="amount">
					<svg-icon key="bulb" size="lg" />
					<span>{{ cards.length }} Suggestions</span>
				</div>

				<app-dropdown-menu
					(selectOption)="onChangeSuggestionsOrderBy($event)"
					[options]="orderOptions"
					[value]="orderBy"
					label="Sort by"
				/>

				<app-button>+ Add Feedback</app-button>
			</div>

			<div class="content">
				@if (cards.length > 0) {
					<div class="cards">
						@for (card of cards; track $index) {
							<app-suggestion-card [data]="card" (upvote)="onUpvote(card, $event)" />
						}
					</div>
				} @else {
					<app-empty-suggestions />
				}
			</div>
		</main>
	</div>
</div>
