.sidebar
	display: flex
	flex-direction: column
	gap: 16px
	padding: 24px

.card
	padding: 16px 24px
	border-radius: 10px
	background: #FFFFFF

.tag-list
	display: flex
	flex-wrap: wrap
	gap: 8px

	.tag-item
		padding: 4px 16px
		border-radius: 10px

		font-size: 13px
		font-weight: 600
		line-height: normal

		color: #4661E6
		background-color: #F2F4FF

		&.active
			color: #FFFFFF
			background-color: #4661E6

.roadmap-header
	display: flex
	align-items: center
	justify-content: space-between
	gap: 16px

	.title
		font-size: 16px
		font-weight: 700
		line-height: normal
		color: #647196

	.link
		font-size: 13px
		font-weight: 600
		line-height: normal
		text-decoration-line: underline
		color: #4661E6

.roadmap-list
	display: flex
	flex-direction: column
	gap: 8px
	margin-top: 24px

.roadmap-item
	display: flex
	align-items: center
	gap: 16px

	.decoration
		display: block
		width: 8px
		height: 8px
		border-radius: 100%

	.label
		flex: 1

		font-size: 16px
		font-weight: 400
		line-height: normal
		color: #647196

	.amount
		font-size: 16px
		font-weight: 700
		line-height: normal
		color: #647196
