<div class="card {{ clickable ? 'clickable' : '' }}">
	<div class="content">
		<strong class="title">{{ data.title }}</strong>
		<p class="description">{{ data.description }}</p>
		<span class="badge">{{ data.tag }}</span>
	</div>

	<div class="footer">
		<app-chip (toggle)="onUpvote()" [isActive]="isActive">
			<svg-icon class="upvote-icon {{ isActive ? 'active' : '' }}" key="chevron-up" size="xs" />
			<span>{{ data.upvotes }}</span>
		</app-chip>

		<div class="comments">
			<svg-icon key="comment" />
			<span>{{ data.comments }}</span>
		</div>
	</div>
</div>
