<div class="card">
	<div class="content">
		<strong class="title">Add tags for solutions</strong>
		<p class="description">Easier to search for solutions based on a specific stack</p>
		<span class="badge">Enhancement</span>
	</div>

	<div class="footer">
		<div class="chip">
			<img alt="Upvote" height="7" ngSrc="assets/svg/chevron-up.svg" width="9" />
			<span>112</span>
		</div>

		<div class="comments">
			<img alt="Comments" height="16" ngSrc="assets/svg/comment.svg" width="18" />
			<span>2</span>
		</div>
	</div>
</div>
